<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="priyagung elza yogitama" />
    <meta
      name="keywords"
      content="bahasa jepang, nihongo, indonesia, surakarta"
    />
    <title>Welcome to Learn Nihongo!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  </head>
  <style>
    /* styling this  */
  </style>
  <body>

    <!-- navigation bar start -->
    
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            全 Zen LMS
          </a>
          

          <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="nav-links">
          <div class="navbar-start">
            <a href="" class="navbar-item">Home</a>
            <a href="" class="navbar-item">Staff</a>
            <a href="" class="navbar-item">About Us</a>
          </div>

          <div class="navbar-end">
            {{--  <button class="button is-light">Login</button>  --}}
            <a href="login" class="button">Login</a>
          </div>
        </div>

      </nav>

    <!-- navigation bar ends -->